:root {
    --background-color: #cbdbcd8c;
    --font-primary-clr: rgba(107, 112, 92, 80%);
    --font-secondary-clr: rgba(104, 104, 104, 80%);
    --font-accent-clr: #ffe8d6;
    --font-secondaryaccent-clr: #cb997e;
    --font-tertiary-clr: #718355;
    --font-boldtext-clr: #6c584c;
    --font-family-heading: 'Montserrat', sans-serif;
    --font-family-subheading: 'Source Sans Pro', sans-serif;
    --font-family-body: 'Roboto Flex', sans-serif;
    --font-family-subbody: 'inter', sans-serif;
}

* {
    padding: 0; 
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #cbdbcd8c;
}

body {
    height: 100%;
}

/* header styles */

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(183, 183, 164, 25%);
    min-width: 100%;
    height: 5em;
    gap: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: bold;
    text-decoration: none;
    font-size: .75em;
    box-shadow: black;
}

.topNav .link {
    color: rgba(107, 112, 92, 80%);
    text-shadow: 1.5px 1.5px #b7b7a4;
}

.link:hover {
    color: #659dbd;
    cursor: pointer;
}

.link:last-child { /* moved this from the 500 media query too*/
    margin-right: 1em;
}

.logo {
    height: 100px;
    width: 100px;
    padding-top: .5em;
    padding-bottom: .75em;
}

.logo:first-child { /*moved this from the 500px media query*/
    margin-right: auto;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
}

/* intro content styles */

.containerOne {
    height: 400px;
    width: auto;
    background-image: url(/images/pexels-arina-krasnikova-6663574.jpg), linear-gradient(to bottom, #2e2e2e, #3b3b3b, #777777, #b9b9b9, 
    rgba(203, 219, 205, 15%));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-mask: linear-gradient(to top, #0000 1%,#000 3.5%);
    mask: linear-gradient(#0000 1%,#000 3.5%);
}

/* main content styles */

.wrapper {
    /*border: 10px solid green;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, .5fr);
    gap: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 5px solid var(--font-primary-clr);
    padding: 1em;
    width: auto;
}

.picture {
    justify-content: center;
    align-self: center;
    height: 250px;
    width: auto;
    border-radius: 50%;
    background: linear-gradient(0deg, #00000088 45%, #ffffff44 100%);
}

h1 {
    font-family: var(--font-family-heading);
    text-align: center;
    color: var(--font-primary-clr);
    font-size: 3em;
    font-style: italic;
    text-shadow: 1.5px 1.5px #b7b7a4;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1:first-child {
    padding-top: 0px;
    padding-bottom: .5em;
}

h2 {
    color: var(--font-primary-clr);
    font-family: var(--font-family-heading);
    text-shadow: 1.5px 1.5px #b7b7a4;
    line-height: 2em;
    font-weight: 900;
    text-decoration: overline;
}

h3 {
    font: var(--font-family-subheading);
    color: var(--font-secondaryaccent-clr);
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: .25em;
    font-size: 1em;
    text-align: center; /* delete this*/
}

section {
    font-family: var(--font-family-body);
    font-size: .9em;
    padding: 1.5em 1em;
    line-height: 1.25em;
    font-weight: 400;
    text-shadow: #000;
    background-color: rgba(255, 232, 214, 45%);
}

sub {
    font-family: var(--font-family-subbody);
    padding-bottom: 1em;
    color: #000;
    font-weight: 400;
    font-size: .8em;
    padding: 1em .5em;
    text-align: center;
    font-style: italic; /* delete this */
}

p {
    font-family: var(--font-family-body);
    padding-bottom: 1em;
    color: var(--font-tertiary-clr);
    font-weight: 300;
    font-size: .85em;
}

b {
    font-weight: 550;
    font-size: 1em;
    color: var(--font-boldtext-clr);

}

i {
    font-weight: 100;
    color: var(--font-primary-clr);
}

sup {
    font-size: .5em;
}

.bookbutton {
    justify-content: center;
    align-self: center;
    height: 3.5em;
    width: 7em;
    margin: 1em 0;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    font-weight: 400;
}

.bookbutton:hover {
    color: black;
    background: var(--background-color);
    cursor: pointer;
}

footer {
    background-color: rgba(183, 183, 164, 25%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 15%;
    width: 100%;
}

.socialMediaIcon {
    height: 2em;
    margin-left: .5em;
    margin-right: .5em;
}


/*----------media queries start here----------*/

/*medium device media queries (built mobile first, not much here)*/
@media screen and (min-width: 637px) {
.topNav {
    font-size: 1.25em;
}

.logo {
    height: 125px;
    width: 125px;
}

.picture {
    height: 350px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.containerOne {
    background-image: url(/images/pexels-arina-krasnikova-6663574\ -\ Copy.jpg);
    font-size: 1.5em;
    height: 525px;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

sub {
    font-size: 1.1em;
}

p {
    font-size: .9em;
}

b {
    font-size: 1.1em;
}

.bookbutton {
    font-size: 1em;
}
}

/* find out and fix why its funky inbetween media queries*/

/* i cenered the h3 and sub with text-align : center; but dont know if I like it. I changed the font color of the shit in the body. That I kinda like.*/ 
